# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [2]:
import pandas as pd
#Show full column content
pd.set_option('display.max_colwidth', None)

#Load the dataset
jeopardy = pd.read_csv('jeopardy.csv')

#Take a look
print(jeopardy.columns)
print(jeopardy.head())

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')
   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [5]:
# Clean the column names by stripping whitespace
jeopardy.columns = [col.strip() for col in jeopardy.columns]
print(jeopardy.columns)

# Function to filter questions based on a list of words
def filter_questions(df, words):
    # Clean up column names
    df.columns = [col.strip() for col in df.columns]

    # Start with lowercase question column
    mask = df['Question'].str.lower()

    # Keep only rows that contain ALL words
    for word in words:
        mask = mask[mask.str.contains(word.lower())]

    return df.loc[mask.index]

# Example usage of the filter function
filtered = filter_questions(jeopardy, ["King", "England"])
print(filtered["Question"])
print(f"Number of matching questions: {len(filtered)}")

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')
4953                    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337      In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                    This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710               This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454                                       It's the number that followed the last king of England named William
                                                           ...
208295        In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
208742                      Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870                In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021          His nickname was "Bertie", but he used this name & number when he became king of England in 1901
216789        This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric
Name: Question, Length: 152, dtype: object
Number of matching questions: 152

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [6]:
import re

def filter_questions(df, words):
    # Clean column names (optional safeguard)
    df.columns = [col.strip() for col in df.columns]

    # Start with full DataFrame
    filtered_df = df

    for word in words:
        # Create regex pattern for whole word match (case-insensitive)
        pattern = r'\b' + re.escape(word.lower()) + r'\b'
        filtered_df = filtered_df[filtered_df['Question'].str.lower().str.contains(pattern, regex=True)]

    return filtered_df

#Test with different sets 
# Original example
print(filter_questions(jeopardy, ["King", "England"])["Question"])

# Try with tricky sets
print(filter_questions(jeopardy, ["Computer", "Science"])["Question"])
print(filter_questions(jeopardy, ["War", "America"])["Question"])

4953                    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337      In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                    This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710               This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454                                       It's the number that followed the last king of England named William
                                                           ...
201168                                  Popular Saint-Exupery character waiting around to become king of England
204778                                 This southern colony was named for a king of England, the II of that name
208742                      Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870                In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021          His nickname was "Bertie", but he used this name & number when he became king of England in 1901
Name: Question, Length: 118, dtype: object
16020                                      In computer science, GUI is this kind of user interface
73810     Max Planck Institute for Computer Science, Braunschweig Tech, The University of Augsburg
120890                                          In computer science, ones & zeroes are key to this
Name: Question, dtype: object
14314                                                                                                                                                                                                                                                                                                                                        Prime minister during the war, some later called him "the minister who lost America"
26159                                                                                                                                                                                                                                                                                                                                                    Though never declared, it was the longest war in which America took part
26178                                                                                                                                                                                                                                                                                                                                  Spaniards started war in colonial America by cutting off this part of Robert Jenkins' body
42319                                                                                                                                                                                                                                                                                                                      About this first battle of the Revolutionary War, S. Adams said, "What a glorious morning for America"
48518                                                                                                                                                                                                                                                                                                              Mark Bowden has written the story of this 1979 crisis, "The First Battle In America's War With Militant Islam"
65756                                                                                                                                                                                                                                                                                                                   After Walter called the Vietnam War unwinnable, this man said, "If I've lost Cronkite, I've lost America"
74181                                                                                                                                                                                                                                                                                                                                         Located 35 miles from Louisville, it was named for America's first Secretary of War
82452                                                                                                                                                                                                                                                                                                                                  As a result of this war, America gained the islands of Puerto Rico, Guam & the Philippines
84033                                                                                                                                                                                                                                                                                                                  The Hessian Fly is so named because people believed Hessian soldiers brought it to America during this war
88135                                                                                                                                                                                                                                                                                                                                        America's top ace of the war, he won the Medal of Honor & the French Croix de Guerre
93186                                                                                                                                                                                                                                                                                                                  This highest Australian peak was named for a Polish patriot who aided America during the Revolutionary War
94172                                                                                                                                                                                                                                                                                                                                         He had a 2004 bestseller with "Against All Enemies: Inside America's War on Terror"
100785                                                                                                                                                                                                                                                                                                                                                          This "affair" caused a quasi-war between France & America in 1798
112810                                                                                                                                                                                                                                                                                                                The "War on" this, approved by Congress in August of 1964, included VISTA, Volunteers in Service to America
131200                                                                                                                                                                                                                                                                                                                                                               2000: Stephen Gaghan for this look at America's war on drugs
150634                                                                                                                                                                                                                                                                                                                                                                       This person ruled England during America's Civil War
160084                                                                                                                                                                                                                                                                                                                      As the war dawned, America's main arms storehouse was located in this town about 20 miles from Boston
163144                                                                                                                                             Familiar TV voice & now author heard <a href="http://www.j-archive.com/media/2000-01-03_J_16.mp3">here</a>  <i>"When Pearl Harbor made it irrefutably clear that America was not a fortress, this generation was summoned to the parade ground and told to train for war."</i>
169964    (<a href="http://www.j-archive.com/media/2008-05-02_J_07.jpg" target="_blank">Kelly of the Clue Crew reports from the NASA White Sands Test Facility in New Mexico.</a>)  To develop U.S. rockets like the Redstone, many German scientists were brought to America after World War II, including <a href="http://www.j-archive.com/media/2008-05-02_J_07a.jpg" target="_blank">this</a> chief designer of the Saturn V
170083                                                                                                                                                                                                                                                                                                                                                                The Voice of America first hit the airwaves during this war
183868                                                                                                                                                                                                                                                                                                                                     King George's War in North America was known in Europe as the war of the Austrian this
187560                                                                                                                                                                                                                                                                                                                                            On April 6, 1917 America entered World War I & this composer wrote "Over There"
189478                                                                                                                                                                                                                                                                                                                                                                                        1702-1713: Her war in North America
214105                                                                                                                                                                                                                                                                                                                      George Bernard Shaw's play "The Devil's Disciple" takes place in America during this 18th century war
214515                                                                                                                                                                                                                                                                                                                       Benecio del Toro plays troubled cop Javier Rodriguez in the 2000 film tale of America's war on drugs
Name: Question, dtype: object

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [8]:
# Remove '$' and ',' then convert to float
jeopardy['FloatValue'] = jeopardy['Value'].replace('[\$,]', '', regex=True)

# Replace 'None' or 'Daily Double' with NaN, then convert to float
jeopardy['FloatValue'] = pd.to_numeric(jeopardy['FloatValue'], errors='coerce')
print(jeopardy[['Value', 'FloatValue']].head(10))

# Calculate the average dollar value of questions containing the word "King"
filtered_king = filter_questions(jeopardy, ["King"])
average_king_value = filtered_king['FloatValue'].mean()

print(f"Average dollar value of questions with the word 'King': ${average_king_value:.2f}")

  Value  FloatValue
0  $200       200.0
1  $200       200.0
2  $200       200.0
3  $200       200.0
4  $200       200.0
5  $200       200.0
6  $400       400.0
7  $400       400.0
8  $400       400.0
9  $400       400.0
Average dollar value of questions with the word 'King': $817.60

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [11]:
def count_unique_answers(df):
    return df['Answer'].value_counts()

filtered_king = filter_questions(jeopardy, ["King"])
answer_counts = count_unique_answers(filtered_king)

print(answer_counts.head(10))  # Top 10 answers

# Find the most common answer
most_common = answer_counts.idxmax()
most_common_count = answer_counts.max()

print(f"The most common answer is '{most_common}' with {most_common_count} occurrences.")

Answer
Henry VIII     54
Solomon        31
Louis XIV      31
David          29
Sweden         24
Richard III    24
Norway         22
Charles I      19
George III     18
Saul           16
Name: count, dtype: int64
The most common answer is 'Henry VIII' with 54 occurrences.

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [14]:
#Convert the "Air Date" column to datetime
jeopardy['Air Date'] = pd.to_datetime(jeopardy['Air Date'])

# Filter for decades and the word "Computer"
# 1990s
nineties = jeopardy[(jeopardy['Air Date'].dt.year >= 1990) & 
                    (jeopardy['Air Date'].dt.year < 2000)]
nineties_computer = filter_questions(nineties, ["Computer"])
print(f"1990s 'Computer' questions: {len(nineties_computer)}")

# 2000s
two_thousands = jeopardy[(jeopardy['Air Date'].dt.year >= 2000) & 
                         (jeopardy['Air Date'].dt.year < 2010)]
two_thousands_computer = filter_questions(two_thousands, ["Computer"])
print(f"2000s 'Computer' questions: {len(two_thousands_computer)}")

#Explore the connection between the round and the category
round_category_ct = jeopardy.groupby(['Round', 'Category']).size().unstack().fillna(0)
print(round_category_ct.head())

#Focus on a category like "Literature"
literature_counts = jeopardy[jeopardy['Category'].str.lower().str.contains("literature")]['Round'].value_counts()
print(literature_counts)

1990s 'Computer' questions: 79
2000s 'Computer' questions: 227
Category           A JIM CARREY FILM FESTIVAL  "!"  "-ARES"  \
Round
Double Jeopardy!                          0.0  0.0      5.0
Final Jeopardy!                           0.0  0.0      0.0
Jeopardy!                                 5.0  5.0      0.0
Tiebreaker                                0.0  0.0      0.0

Category          "-ICIAN" EXPEDITION  "...OD" WORDS  "1", "2", "3"  \
Round
Double Jeopardy!                  0.0            5.0            5.0
Final Jeopardy!                   0.0            0.0            0.0
Jeopardy!                         5.0            0.0            0.0
Tiebreaker                        0.0            0.0            0.0

Category          "20" QUESTIONS  "A" & "E"  "A" & "M"  "A" + 4  ...  “CC”  \
Round                                                            ...
Double Jeopardy!             5.0        0.0        0.0      5.0  ...   0.0
Final Jeopardy!              0.0        0.0        0.0      0.0  ...   0.0
Jeopardy!                    0.0        5.0        5.0      0.0  ...   5.0
Tiebreaker                   0.0        0.0        0.0      0.0  ...   0.0

Category          “GUT”s  “G” WHIZ!  “HARD” & “EASY” MOVIES  “NORTH”  \
Round
Double Jeopardy!     5.0        0.0                     5.0      0.0
Final Jeopardy!      0.0        0.0                     0.0      0.0
Jeopardy!            0.0        5.0                     0.0      5.0
Tiebreaker           0.0        0.0                     0.0      0.0

Category          “R” MOVIES  “SAINTS”  “SOUTH”  “STREETS”  “WH”AT IS IT?
Round
Double Jeopardy!         5.0       4.0      5.0        0.0            5.0
Final Jeopardy!          0.0       0.0      0.0        0.0            0.0
Jeopardy!                0.0       0.0      0.0        5.0            0.0
Tiebreaker               0.0       0.0      0.0        0.0            0.0

[4 rows x 27995 columns]
Round
Double Jeopardy!    1054
Jeopardy!            423
Final Jeopardy!       82
Name: count, dtype: int64

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.